# Python
__pycache__/
*.pyc

# Virtual env
hybrid-metrics-api/hybrid-metrics/
venv/
.env

# Node / Next.js
hybrid-metrics-ui/node_modules/
hybrid-metrics-ui/.next/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# IntelliJ
.idea/

# Python junk
hybrid-metrics-api/lib/
hybrid-metrics-api/python3/